
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2 class="pl-1">İstatistik</h2>
<br />
<div class="container-fluid">
    <div class="row mb-2">
        <div class="col-lg-3 col-6">
            <div class="small-box bg-info pl-3 py-2">
                <h1 class="pl-2">@ViewBag.totalCategory</h1>
                <h5>Toplam Kategori Sayısı</h5>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="small-box bg-warning pl-4 py-2">
                <h1 class="pl-2 text-white">@ViewBag.totalSoftwareHeading</h1>
                <h5 class="text-white">Yazılım Başlık Sayısı</h5>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="small-box bg-success pl-4 py-2">
                <h1 class="pl-2 text-white">@ViewBag.withInA</h1>
                <h5 class="text-white">'a' İçeren Yazar Sayısı</h5>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="small-box bg-danger pl-4 py-2">
                <h1 class="pl-1" style="font-size: 30px; padding-bottom:10px; padding-top:5px; font-weight:500">@ViewBag.highHeading</h1>
                <h5>Max Başlığa Sahip Kategori</h5>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="small-box bg-orange pl-4 py-2">
                <h1 class="pl-2 text-white">@ViewBag.categoryMinus</h1>
                <h5 class="text-white"> True ile False Sayısal Fark</h5>
            </div>
        </div>
    </div>
</div>

